<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./css/stylesheet.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81717130-1', 'auto');
  ga('send', 'pageview');

</script>
	<title>XBully/bully</title>
</head>
<body>
	<div class = "div-top-container">
		<div id = "top">
			<h3>XBully</h3>
		</div>
		<div class="dropdown" id="dropdown-button">
			<button class="btn btn-default btn-sm" type="button" data-toggle="dropdown" id="dropdown-content">
			<span class="glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right"
				<li><a href="#">Login</a></li>
				<li><a href="{{url}}">Logout</a></li>
			</ul> 	
		</div>
	</div>
	<br><br><br>
	<div class="scope-it">
		<div class="story">
			<p>7 July 2016:</p>
			<p>I couldn't see his(my victim's) good intentions when he tried to help me. Instead, I viewed his actions with hostility
			and I felt humiliated, like I wasn't strong enough to handle my problems that someone else had to come to my 'rescue'. I felt
			too vulnerable, so I lashed out. I was secure behind a screen. No one would know it was me who was making his life 
			as miserable as I could. I wanted him to be so embarrassed he couldn't come to school. This meant that I wouldn't need to see him 
			and remind myself of the horrific experience in which many children pointed their chubby little fingers at me and laughing so hard they 
			could barely stand straight. I used this app and I seeked help. Cyberbullying didn't help me with my anger and my embarrassment.
			It only fuelled the intensity of these emotions. It didn't feel too right, to make him feel the way I had felt. Not when 
			I saw myself as someone who is supposed to be strong, not when my family has so many issues that I don't want to go home. 
			I felt the pain no one deserves, especially not him. The counsellor helped me see that he was only trying to be kind. Perhaps, I was too
			blinded by my own issues. Those who are in similar situations, keep on fighting. Don't give up easily and never inflict
			pain or misery on another. It only hurts you more.</p>
		</div>
		<div class="story">
			<p>6 July 2016:</p>
			<p>I was having troubles with making friends. You see, I'm quite different from the others, from the popular group of people
			that <em>so</em> many students in school adore. I wasn't confident like them, I wasn't pretty like them, I wasn't sociable like them.
			I was typical and I was picked on. I'm a nerd. Those kids called me names, horrible names I shall spare you from hearing. 
			They threatened me to do their errands and their homework. If not, they beat me up. Resentment, anger and humiliation started to build up.
			And one day, when I was scrolling through my feed, I thought why not 'beat' them up over the internet like they do to me?
			Only difference is I felt the physical pain, they were being tortured emotionally. You see, I also have a way with words. I manipulate them,
			only to serve my purpose of destroying them. However, on another ordinary school day, a school counsellor saw me on the floor, curled up. 
			She helped me up and showed me this application. Through it, she helped me. I'm more confident than I was before and the bullying
			has stopped. I have also stopped cyber bullying those popular kids. Truth is, cyber bullying or bullying only hurts ourselves more.
			They may bring harm to the victims, but they also cost us our emotional resources, always plotting the next attack and then having to 
			cover up the tracks, ensuring that one's lingo isn't present so nobody can detect. Solve your issues. Don't create more.</p>
			<br/>
		</div>
	</div>
	
	<div id="bottom">
		<button type="button" class="btn btn-default" aria-label="Right Align" id="bully">
			<a class="tabs" href="bully">
				<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
			</a>
		</button>
		<button type="button" class="btn btn-default" aria-label="Right Align" id="victim">
			<a class="tabs" href="victim">
				<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
			</a>
		</button>
		<button type="button" class="btn btn-default" aria-label="Right Align" id="quotes">
			<a class="tabs" href="quotes">
				<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
			</a>
		</button>
		<button type="button" class="btn btn-default" aria-label="Right Align" id="profile">
			<a class="tabs" href="profile">
				<span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
			</a>
		</button>
	</div>
</body>
</html>