<!DOCTYPE HTML>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./css/stylesheet.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81717130-1', 'auto');
  ga('send', 'pageview');

</script>
	<title>XBully/victim</title>
</head>
<body>
	<div class = "div-top-container">
		<div id = "top">
			<h3>XBully</h3>
		</div>
		<div class="dropdown" id="dropdown-button">
			<button class="btn btn-default btn-sm" type="button" data-toggle="dropdown" id="dropdown-content">
			<span class="glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right"
				<li><a href="#">Login</a></li>
				<li><a href="{{url}}">Logout</a></li>
			</ul> 	
		</div>
	</div>
	<br><br><br>
	<div class="scope-it">
		<div class="story">
			<p>11 August 2016:</p>
			<p>I felt really sad when I was cyberbullied. Nasty pictures of me were posted online by my friend. However, I have sought help from Ellis,
			I have managed to solve my problem. I have felt very happy every since :D
			</p>
		</div>		
		<div class="story">
			<p>8 August 2016:</p>
			<p>Through some close friends, I discovered that there were some people who were taking photos of me and spreading rumours,
			hurtful words and unflattering comments. After speaking to the counsellor, I have managed to find ways to deal with this problem
			by speaking up more. Now, I'm glad that the cyber bullying has finally stopped.</p>
		</div>
		<div class="story">
			<p>5 August 2016:</p>
			<p>It was really hurtful when I was being cyber bullied. Another student impersonated me on social media. All my friends lost trust
			in me for the period of time when they thought that I was the one posting the comments. However, the counsellor told me to 
			keep a positive outlook and to clear the misunderstandings with my friends. As for the people who don't me, I understand that it is 
			easy to judge before we know the truth. With the support of my <em>true</em> friends, I managed to cope with the easy loss of trust and 
			forgive the people who decided to impersonate me. From my experience, my advice is not to succumb to a pessimistic outlook and
			be more confident of yourself. If friends lose trust in you so easily, then perhaps they are not the friends for you.</p>
		</div>
	</div>
	<div id="bottom">
		<button type="button" class="btn btn-default" aria-label="Right Align" id="bully">
			<a class="tabs" href="bully">
				<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
			</a>
		</button>
		<button type="button" class="btn btn-default" aria-label="Right Align" id="victim">
			<a class="tabs" href="victim">
				<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
			</a>
		</button>
		<button type="button" class="btn btn-default" aria-label="Right Align" id="quotes">
			<a class="tabs" href="quotes">
				<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
			</a>
		</button>
		<button type="button" class="btn btn-default" aria-label="Right Align" id="profile">
			<a class="tabs" href="profile">
				<span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
			</a>
		</button>
	</div>
</body>
</html>